body {
    font-family: lobster;
    background-color: #ffffff;
}
/*headers*/
h2 ,h3 {
    color: black;
    font-size: 35px;
}
/*logo*/
#logo {
    color: #eb9621;
    font-size: 35px;
    text-align: center;
    background-color: #ffffff;
}
/* navigation links menu */
.topmenu {
    overflow: hidden;
}

.topmenu a {
    color: #af8447;
    background-color: #ffffff;
    text-decoration: none;
    font-size: 35px;
    margin: 20px;
    margin-right: 170px;
    margin-left: 170px;
}

.topmenu a:hover {
    color: rgb(138, 130, 130);
}
/*Hero-image*/
#hero {
    background-image: url(../images/hero\ \(2\).jpg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
    box-shadow: 0 6px 10px 0 rgba(212, 162, 0, 0.19), 0 6px 20px 0 rgba(212, 162, 0, 0.19);
}